/* Navbar 설정 */

.navbar {
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    width: 70.7%;
    height: 10vh;
	transform: translateX(20%);
}

.navbar h2 {
	color: white;
	margin: 0;
}

/* Section 설정 */

.pwd-container {
	background: lightblue;
	width: 30%;
	height: 25vh;
	transform: translateX(120%);
	margin-top: 3%;
  	box-shadow: 0 5px 4px -4px black;
}

.pwd-present {
	position: absolute;
	top: 15%;
	margin-left: 50%;
}

.pwd-present2 {
	position: absolute;
	top: 40%;
	margin-left: 40%;
}

.pwd {
	margin-top: 7%;
	text-align: center;
	vertical-align: middle;
}

.line {
	width: 50%;
	height: 2px;
	background: lightgrey;
	margin-top: 3%;
    transform: translateX(50%);
}

.button {
	position: absolute;
	width: 10%;
	height: 3vh;
	border: 2px solid lightgrey;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
}

.check-btn {
	position: absolute;
	width: 11%;
	height: 4.1vh;
	border: 2px solid lightgrey;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	background: transparent;
	font-size: 16px;
}


.next-btn {
	position: absolute;
	top: 90%;
    width: 9%; 
    height: 6%;
	background: cadetblue;
	color: white; 
	left: 50%; 
    transform: translateX(-50%); 
    border-radius: 45%;
    border: none; 
    font-size: 18px;
}

/* footer */

.bankfooter {
	background-color: darkgrey;
	text-align: center;
	padding: 2px 0;
	width: 70%;
	margin: auto;
	height: 20px;
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50.7%);
	}
	
.bankfooter h5 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 15px;
	margin: 0;
	text-align: right;
	padding-right: 5%;
		}

/* 모바일용 */

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .left, .right {
        flex: none;
        margin: 5px 0;
        justify-content: center;
    }

    .center {
        flex: none;
        text-align: center;
        margin: 5px 0;
    }

    .centered {
        flex-direction: column;
    }

    .judy-text {
        margin: 10px 0 0 0;
    }
}