/* Navbar 설정 */

.navbar {
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    width: 70.7%;
    height: 10vh;
	transform: translateX(20%);
}

.navbar h2 {
	color: white;
	margin: 0;
}

/* Section 설정 */

section {
    background-color: lightgrey;
    margin: 0;
    width: 70%;
    height: 86%;
    position: absolute;
    transform: translateX(20%);
}

.question-1, .question-2 {
	font-weight: bold; 
	text-align: center; 
	margin-top: 45px;
}

#checked1, #checked2 {
	font-weight: bold; 
	text-align: center; 
	margin-top: 45px;
}

.condition {
	background: white;
	margin-top: 50px;
	width: 50%;
	height: 30%;
	transform: translateX(50%);
}

.condition .question-3 {
    display: flex;
    align-items: center;
}

.line {
	background: lightgrey;
	width: 100%;
	height: 3px;
}

.term img {
	width: 15px;
	height: 15px;
	margin: 10px 10px 10px 10px;
}

.term span {
	margin-top: 10px;
}

.term {
	display: flex;
}

.next-btn {
	position: absolute;
	top: 90%;
    width: 9%; 
    height: 6%;
	background: cadetblue;
	color: white; 
	left: 50%; 
    transform: translateX(-50%); 
    border-radius: 45%;
    border: none; 
    font-size: 18px;
}

/* footer */

.bankfooter {
	background-color: darkgrey;
	text-align: center;
	padding: 2px 0;
	width: 70%;
	margin: auto;
	height: 20px;
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50.7%);
	}
	
.bankfooter h5 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 15px;
	margin: 0;
	text-align: right;
	padding-right: 5%;
		}

/* 모바일용 */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .left, .right {
        flex: none;
        margin: 5px 0;
        justify-content: center;
    }

    .center {
        flex: none;
        text-align: center;
        margin: 5px 0;
    }

    .centered {
        flex-direction: column;
    }

    .judy-text {
        margin: 10px 0 0 0;
    }
}