/* Navbar 설정 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.center {
    display: flex; 
    align-items: center; 
    transform: translateX(40%);
}

.center img {
    margin-right: 10px; 
}

.center h1 {
    margin: 0; 
    color: white
}

.right img{
	transform: translateX(-390%);
}

/* Section 설정 */

.bar {
	position: fixed;
	top: 0%;
	transform: translateX(20%);
    width: 70%; 
    height: 165px;
	background-color: powderblue;
	z-index: -1;
}

.login-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
}

.login-btn {
    width: 150px; 
    height: 50px; 
    background: cadetblue;
    color: white; 
    border: none; 
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-weight: bold;
}

.login-container a {
	text-decoration: none;
}

.login-container img {
	margin-right: 10%;
}

.account-info, .send-info, .event-info, .group-info, .check-info {
	position: fixed;
	top: 22%;
	transform: translateX(240%);
	width: 12%; 
    height: auto; 
}

.active {
    display: block;
}
   
.inactive {
	display: none;
}   
  
a {
    text-decoration: none;
    color: black;
}

.selected {
    background-color: lightgrey;
}

.unselected {
    background-color: darkgrey;
}

/* footer */

.bankfooter {
	background-color: darkgrey;
	text-align: center;
	padding: 2px 0;
	width: 71%;
	margin: auto;
	height: 20px;
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
	}
	
.bankfooter h5 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 15px;
	margin: 0;
	text-align: right;
	padding-right: 5%;
		}

/* 모바일용 */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .left, .right {
        flex: none;
        margin: 5px 0;
        justify-content: center;
    }

    .center {
        flex: none;
        text-align: center;
        margin: 5px 0;
    }

    .centered {
        flex-direction: column;
    }

    .judy-text {
        margin: 10px 0 0 0;
    }
}