/* Navbar 설정 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 70%;
    height: 70vh;
	transform: translateX(20%);
	position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.right img{
	transform: translateX(120vh);
	position:absolute;
	top: 2vh;
}

/* Section 설정 */

.premium-container img {
	position: absolute;
	width: 40%;
	height: 50%;
	left: 14%;
}

.flex-container img {
	position: absolute;
	width: 40%;
	height: 47%;
	left: 44.5%;
	top: 50%;
}

.premiumInfo {
	position: absolute;
	left: 55%;
	top:13%;
}

.flexInfo {
	position: absolute;
	left: 16%;
	top:58%;
}

/* footer */

.bankfooter {
	background-color: darkgrey;
	text-align: center;
	padding: 2px 0;
	width: 70%;
	margin: auto;
	height: 20px;
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50.7%);
	}
	
.bankfooter h5 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 15px;
	margin: 0;
	text-align: right;
	padding-right: 5%;
		}

/* 모바일용 */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .left, .right {
        flex: none;
        margin: 5px 0;
        justify-content: center;
    }

    .center {
        flex: none;
        text-align: center;
        margin: 5px 0;
    }

    .centered {
        flex-direction: column;
    }

    .judy-text {
        margin: 10px 0 0 0;
    }
}