/* Navbar 설정 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.center {
    display: flex; 
    align-items: center; 
    transform: translateX(110%);
}

.center img {
    margin-right: 10px; 
}

.center h1 {
    margin: 0; 
}


.right img{
	transform: translateX(-390%);
}

/* Section 설정 */

.bar {
	position: fixed;
	top: 0%;
	transform: translateX(20%);
    width: 70%; 
    height: 165px;
	background-color: powderblue;
	z-index: -1;
}

.username {
	font-weight: bold;
	color: indianred;
}

.login-container {
	width: 30%;
	height: auto;
	transform: translateX(66%);
}

.background {
	background: lightgrey;
	width: 133vh;
	height: 76vh;
	transform: translateX(20%);
	position: fixed;
	top: 21%;
}

.account-container {
	width: 30%;
	height: 8vh;
	background: aliceblue;
	position: absolute;
	transform: translateX(107%);
	top: 25%;
	display: flex;
	flex-direction: column;
}

.img {
	width: 11%;
	height: auto;
	margin-top: 2%;
	margin-left: 3%;
}

.accountNumber {
	font-weight: bold;
	margin-left: 10px;
	padding-top: 10px;
	width: 30%;
	height: 20vh;
}

.balance {
	font-weight: bold;
	position: absolute;
	top: 240%;
	left: 80%;
}

.isGroupAccount {
	position: absolute;
	top: 113%;
	left: 80%;
}

/* footer */

.bankfooter {
	background-color: darkgrey;
	text-align: center;
	padding: 2px 0;
	width: 70%;
	margin: auto;
	height: 20px;
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50.7%);
	}
	
.bankfooter h5 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 15px;
	margin: 0;
	text-align: right;
	padding-right: 5%;
		}

/* 모바일용 */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .left, .right {
        flex: none;
        margin: 5px 0;
        justify-content: center;
    }

    .center {
        flex: none;
        text-align: center;
        margin: 5px 0;
    }

    .centered {
        flex-direction: column;
    }

    .judy-text {
        margin: 10px 0 0 0;
    }
}