/* Navbar 설정 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: white;
    padding-top: 15px;
}

.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.center {
    flex: 2;
    text-align: center;
}

/* Section 설정 */

.bar {
	position: absolute;
	top: 12%;
	transform: translateX(21.5%);
    width: 69%; 
    height: 50px;
	background-color: lightcyan;
}

.send-btn {
	position: absolute;
	top: 88%;
	width: 5%; 
	height: 4%;
	background: cadetblue;
	color: white; 
	left: 50%; 
	transform: translateX(-100%); 
	border-radius: 45%;
	border: none; 
	font-size: 13px;
}

.active {
    display: block;
}
   
.inactive {
	display: none;
}   

.selected {
    background-color: lightgrey;
}

.unselected {
    background-color: darkgrey;
}

.member-item {
    display: flex;
    align-items: center;
}

.depositNum-container input{
	width: 30%;
	height: 6vh;
	position: absolute;
	background: transparent;
	border: 2px lightgray solid;
	top: 48%;
	transform: translateX(123%);
}

.depositBalance-container input{
	width: 30%;
	height: 6vh;
	position: absolute;
	background: transparent;
	border: 2px lightgray solid;
	top: 65%;
	transform: translateX(123%);
}

.groupAccount-container {
	width: 30%;
	height: 23vh;
	background: lightgrey;
	transform: translateX(107%);
	display: flex;
	flex-direction: column;
	z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}

.groupAccount-container:nth-child(-n+3) {
    position: relative;
    margin-top: 13vh;
    margin-bottom: -8vh;
}

.container {
	margin-top: 50px;	
}

.select-btn {
	position: absolute;
	top: 80%;
	width: 20%; 
	height: 15%;
	background: cadetblue;
	color: white; 
	left: 60%; 
	transform: translateX(-100%); 
	border-radius: 45%;
	border: none; 
	font-size: 13px;
}

.account-info-container input {
	position: absolute;
	width: 30%;
	height: 13%;
	transform: translate(9vh, 13vh);
}

/* footer */

.bankfooter {
	background-color: darkgrey;
	text-align: center;
	padding: 2px 0;
	width: 69%;
	margin: auto;
	height: 20px;
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
	}
	
.bankfooter h5 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 15px;
	margin: 0;
	text-align: right;
	padding-right: 5%;
		}

/* 모바일용 */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .left, .right {
        flex: none;
        margin: 5px 0;
        justify-content: center;
    }

    .center {
        flex: none;
        text-align: center;
        margin: 5px 0;
    }

    .centered {
        flex-direction: column;
    }

    .judy-text {
        margin: 10px 0 0 0;
    }
}