<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" th:href="@{/css/agreementset.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/pig.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <h2>계좌 개설</h2>
    </nav>
    <section>
        <div class="pwd-container">
            <img src="/pig.png" alt="Judy Bank" style="width: 30%; height:auto; margin: 30px 20px;">
            <div class="pwd-present">
                <h3>Judy Bank</h3>
            </div>
            <div class="pwd-present2">
                <h3>쥬디뱅크 입출금통장</h3>
            </div>
        <h3 style="text-align: center; vertical-align: middle; margin-top: 10%;">통장 비밀번호를 입력하세요.</h3>
        </div>           
		<form id="pwdForm" th:action="@{/bank/accountpwd}" method="post" enctype="multipart/form-data">          
        <div class="pwd">
            <label for="accountpwd" class="accountPwd"></label>
            <input type="password" name="accountpwd" id="accountpwd" placeholder="비밀번호 입력" style="width: 25%; height: 4vh;" required>
        </div>
        <div class="line"></div>
        <div class="Identification" style="margin-left: 30%;">
            <img src="/id.png" alt="Identification">
            <h3 style="margin-left: 2.5%;">신분증</h3>
        </div>
        <h3 style="margin-left: 50%; position: absolute; top: 67%;">신분증을 준비해주세요.</h3>
        
        <div class="button" style="transform: translateX(85vh); top: 78%;">
            <label for="chooseFile">
                찾기
            </label>
        </div>
        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" style="visibility: hidden;">
        
        <button type="button" class="check-btn" onclick="checkId()" style="transform: translateX(81vh); top: 78%;">
            확인
        </button>
		
        <div class="next-container">
            <button id="next" type="submit" class="next-btn" onclick="return checkAnswers()">
                다음
            </button>
        </div>
		</form>
    </section>
    <footer class="bankfooter">
        <h5>Judy Bank</h5>
    </footer>
    <script>
        function checkId() {
           var fileInput = document.getElementById('chooseFile');
		  
           if (fileInput.files.length > 0) {
               alert("신분증이 확인되었습니다.");
           } else {
               alert("신분증을 등록해주세요.");
           }
       }

       function checkAnswers() {
           var password = document.getElementById('accountpwd').value;
           var fileInput = document.getElementById('chooseFile');

           if (password === "") {
               alert("통장 비밀번호를 입력하세요.");
               return false;
           }

           if (fileInput.files.length === 0) {
               alert("신분증을 등록해주세요.");
               return false;
           }
			return true
			

			
           // 계좌 생성 로직 추가
   
       }
	   var button = document.getElementById('next');
	   button.addEventListener('click', () => {
	   	alert('계좌 개설이 완료되었습니다.');
	   })
    </script>
</body>
</html>
