<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" th:href="@{/css/catelist.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/pig.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="center">
            <img src="/homepic.png" alt="Home" style="height: 50px;">
            <h1>JUDY 모바일 홈페이지 방문을 환영합니다.</h1>
        </div>
        <div class="right">
            <a th:href="@{/}">
                <img src="/close.png" alt="Close" style="height: 50px;">
            </a>
        </div>
    </nav>
    <section>
        <div class="bar"></div>
        <div class="login-container">
            <a th:href="@{/bank/login}">
                <button type="submit" class="login-btn">
                    <img src="/login.png" alt="로그인" style="vertical-align: middle; height: 20px;">
                    로그인
                </button>
            </a>
            <a th:href="@{/bank/signup}">
                <button type="submit" class="login-btn">
                    <img src="/signin.png" alt="회원가입" style="vertical-align: middle; height: 20px;">
                    회원가입
                </button>
            </a>
        </div>
		<div class="container">
            <div class="menu-item selectAccount selected" id="accountCheck" style="transform: translateX(160%); position: fixed; top: 20.9%; padding-top:1%;">
                <span>
                    <img src="/glass.png" alt="계좌조회" style="width: 40%; margin-left: 15%;">
                    <h4 style="margin-left: 16%; margin-top:13px">계좌조회</h4>
                </span>
            </div>
            <div class="account-info active" id="accountInfo">
                <h1>계좌조회</h1>
                <div class="underline" style="border-bottom: 3px solid lightgrey; margin: 5px 0; max-width:100%;"></div>
                <a th:href="@{/bank/accountInfo}">
                    <ul style="list-style-type:disc; padding-left: 20px;">
                        <li>내 계좌정보</li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="menu-item sendAccount unselected" id="sendAccount" style="transform: translateX(160%); position: fixed; top: 36%; padding-top:1%;">
                <span>
                    <img src="/send.png" alt="이체" style="width: 36%; margin-left: 22%;">
                    <h4 style="margin-left: 25%; margin-top:13px">이체</h4>
                </span>
            </div>
            <div class="send-info inactive" id="sendInfo">
                <h1>이체</h1>
                <div class="underline" style="border-bottom: 3px solid lightgrey; margin: 5px 0; max-width:100%;"></div>
                <a th:href="@{/bank/sendSelect}">
                    <ul style="list-style-type:disc; padding-left: 20px;">
                        <li>이체하기</li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="menu-item Event unselected" id="event" style="transform: translateX(160%); position: fixed; top: 50.7%; padding-top:1%;">
                <span>
                    <img src="/events.jpg" alt="이벤트" style="width: 40%; margin-left: 22%;">
                    <h4 style="margin-left: 17%; margin-top:13px">이벤트</h4>
                </span>
            </div>
            <div class="event-info inactive" id="eventInfo">
                <h1>이벤트</h1>
                <div class="underline" style="border-bottom: 3px solid lightgrey; margin: 5px 0; max-width:100%;"></div>
                <a th:href="@{/bank/roulette}">
                    <ul style="list-style-type:disc; padding-left: 20px;">
                        <li>룰렛돌리기</li>
                    </ul>
                </a>
            </div>
        </div>
		<div class="container">
		    <div class="menu-item groupAccount unselected" id="groupAccount" style="transform: translateX(160%); position: fixed; top: 66%; padding-top:1%;">
		        <span>
		            <img src="/account.png" alt="모임통장" style="width: 40%; margin-left: 22%;">
		            <h4 style="margin-left: 17%; margin-top:13px">모임통장</h4>
		        </span>
		    </div>
		    <div class="group-info inactive" id="groupInfo">
		        <h1>모임통장</h1>
		        <div class="underline" style="border-bottom: 3px solid lightgrey; margin: 5px 0; max-width:100%;"></div>
		        <a th:href="@{/bank/createGroupAccount}">
		            <ul style="list-style-type:disc; padding-left: 20px;">
		                <li>모임통장만들기</li>
		            </ul>
		        </a>
				<a th:href="@{/bank/selectGroupAccount}">
				    <ul style="list-style-type:disc; padding-left: 20px;">
				        <li>내 모임통장보기</li>
				    </ul>
				</a>
		    </div>
		</div>
		<div class="container">
		    <div class="menu-item checkAccount unselected" id="checkAccount" style="transform: translateX(160%); position: fixed; top: 81.3%; padding-top:1.3%;">
		        <span>
		            <img src="/bank.png" alt="입출금" style="width: 40%; margin-left: 22%;">
		            <h4 style="margin-left: 22%; margin-top:13px">입출금</h4>
		        </span>
		    </div>
		    <div class="check-info inactive" id="checkInfo">
		        <h1>입출금</h1>
		        <div class="underline" style="border-bottom: 3px solid lightgrey; margin: 5px 0; max-width:100%;"></div>
		        <a th:href="@{/bank/checkingAccount}">
		            <ul style="list-style-type:disc; padding-left: 20px;">
		                <li>입출금통장 개설하기</li>
		            </ul>
		        </a>
		    </div>
		</div>
    </section>
    <footer class="bankfooter">
        <h5>Judy Bank</h5>
    </footer>
    <script>
		document.addEventListener('DOMContentLoaded', function() {
            var accountCheck = document.getElementById('accountCheck');
            var sendAccount = document.getElementById('sendAccount');
            var event = document.getElementById('event');
			var groupAccount = document.getElementById('groupAccount');
			var checkAccount = document.getElementById('checkAccount');
			
            var accountInfo = document.getElementById('accountInfo');
            var sendInfo = document.getElementById('sendInfo');
            var eventInfo = document.getElementById('eventInfo');
			var groupInfo = document.getElementById('groupInfo');
			var checkInfo = document.getElementById('checkInfo');
        
            function activateMenuItem(activeItem, activeInfo) {
                var menuItems = document.querySelectorAll('.menu-item');
                var infoItems = document.querySelectorAll('.container > div:not(.menu-item)');
        		
				// 모든 메뉴 항목들을 unselected, inactive하게 만들기
                menuItems.forEach(function(item) {
                    item.classList.remove('selected');
                    item.classList.add('unselected');
                });
        
                infoItems.forEach(function(info) {
                    info.classList.remove('active');
                    info.classList.add('inactive');
                });
        
                // 선택한 메뉴 항목들만 selected, active하게 만들기
                activeItem.classList.remove('unselected');
                activeItem.classList.add('selected');
                activeInfo.classList.remove('inactive');
                activeInfo.classList.add('active');
            }
        
            accountCheck.addEventListener('click', function() {
                activateMenuItem(accountCheck, accountInfo);
            });
        
            sendAccount.addEventListener('click', function() {
                activateMenuItem(sendAccount, sendInfo);
            });
            
            event.addEventListener('click', function() {
                activateMenuItem(event, eventInfo);
            });
			
			groupAccount.addEventListener('click', function() {
				activateMenuItem(groupAccount, groupInfo);
			})
			
			checkAccount.addEventListener('click', function() {
				activateMenuItem(checkAccount, checkInfo);
			})
        });
    </script>
</body>
</html>
