<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <link rel="stylesheet" href="/css/lockerInfo.css">
    <link rel="shortcut icon" type="image/x-icon" href="/pig.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="right">
            <a href="/bank/selectLocker">
                <img src="/close.png" alt="Back" style="height: 50px;">
            </a>
        </div>
    </nav>
    <section>
        <div class="premium-container">
			<img src="/abroad.jpg" alt="Picture">
			<div class="premiumInfo">
				<h3>SafeLocker Premium</h3>
				<h4 style="font-weight: normal;">이자율이 높은 장기 예치 계좌</h4>
				<ul style="font-size: small;">
					<li>
						이자는 매월 첫째주에 받을 수 있습니다.
					</li>
					<li>
						<div>2.5% 이자율</div>
						<div>(이벤트 참여 시, 추가적인 혜택을 받으실 수 있습니다.)</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="flex-container">
			<img src="/friends.jpg" alt="Picture">
			<div class="flexInfo">
				<h3>SafeLocker Flex</h3>
				<h4 style="font-weight: normal;">이자율이 낮지만 일일 출금이 가능한 계좌</h4>
				<ul style="font-size: small;">
					<li>
						이자 출금은 매일 가능합니다.
					</li>
					<li>
						<div>1.5% 이자율</div>
						<div>(이벤트 참여 시, 추가적인 혜택을 받으실 수 있습니다.)</div>
					</li>
				</ul>
			</div>
		</div>
    </section>
    <footer class="bankfooter">
        <h5>Judy Bank</h5>
    </footer>
</body>
</html>
