<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="shortcut icon" type="image/x-icon" href="/pig.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="left">
            <a th:href="@{/}">
                <img src="/homepic.png" alt="Home" style="height: 50px;">
            </a>
        </div>
		<div class="center">
            <h1>로그인</h1>
        </div>
        <div class="right">
            <a th:href="@{/bank/category}">
                <img src="/list.png" alt="Category" style="height: 50px;">
            </a>
        </div>
    </nav>
	<section>
		<div class="bar"></div>
		<form th:action="@{/bank/login}" method="post">
		<div>
			<div th:if="${param.error}">
                 <p class="errorMessage">잘못된 사용자 이름 또는 비밀번호입니다.</p>
             </div>
			<div class="id">
				<label for="userId" class="userId"></label>
				<input type="text" name="username" id="userId" placeholder="아이디">
			</div>
			<div class="pwd">
				<label for="userPwd" class="userPwd"></label>
				<input type="password" name="password" id="userPwd" placeholder="비밀번호">
			</div>		
			<input type="hidden" name="accountId" th:value="${accountId}" />
			<button type="submit" class="login-btn">로그인</button>
		</div>
		</form>
		<h4 class="or">_________________________________ 또는 _________________________________</h4>
		<a href="/oauth2/authorization/kakao" id="loginKakao" class="loginkakao">
			<img src="/kakao.png" alt="Kakao" class="kakao">
		</a>
		<div class="idpwdlist">
			<span>
				<a th:href="@{/bank/findid}" id="findid">아이디찾기</a>
			</span>
			<span>
				<a th:href="@{/bank/findpwd}" id="findpwd">비밀번호찾기</a>
			</span>
			<span>
				<a th:href="@{/bank/changepwd}" id="modifypwd">비밀번호변경</a>
			</span>
		</div>
	</section>
	<footer class="bankfooter">
		<h5>Judy Bank</h5>
	</footer>
</body>
</html>
