<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="shortcut icon" type="image/x-icon" href="/pig.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="left">
            <a th:href="@{/bank/login}">
                <img src="/login.png" alt="Login" style="height: 50px;">
            </a>
        </div>
        <div class="center">
            <div class="centered">
                <img src="/pig.png" alt="Pig" style="height: 50px;">
				<span class="judy-text">Judy</span>
            </div>
        </div>
        <div class="right">
            <a th:href="@{/bank/category}">
                <img src="/list.png" alt="Category" style="height: 50px;">
            </a>
        </div>
    </nav>
	<section class="friendly">
		<img src="/group.png" alt="MainPicture"  class="main-picture">
		<div class="friendly-text">모임의 금융관리, 이제 더 쉬워집니다.</div>
		<div class="start-round">
			<a th:href="@{/bank/signup}" class="start">시작하기</a>
		</div>
	</section>
	<article class="content">
		<div class="graybackground">
		<div class="whitebackground">
		<span class="accountline">
			<a th:href="@{/bank/inquiryaccount}">
               <img src="/glass.png" alt="Account" class="glass">
        	</a>
			<h1 class="accountletter">계좌조회</h1>
		</span>
		<span class="accountline">
			<a th:href="@{/bank/transfer}">
		       <img src="/send.png" alt="Send" class="send">
			</a>
			<h1 class="sendletter">이체</h1>
		</span>
		<span>
			<a th:href="@{/bank/event}">
		       <img src="/events.jpg" alt="Event" class="event">
			</a>
			<h1 class="eventletter">이벤트</h1>
		</span>
		</div>
		<span class="makeaccountline">
			<a th:href="@{/bank/makeaccount}">
				<h1 class="makeAccount">빠르고 간편한 금융 관리!!</h1>
				<h3 class="makeAccount">모임통장만들기</h3>
			</a>
		</span>
		<span class="goaccount">
			<a th:href="@{/bank/goaccount}">
				<h1 class="goAccount">내 MOIM 통장 바로가기</h1>
			</a>
		</span>
		</div>
	</article>
	<footer class="bankfooter">
		<h5>Judy Bank</h5>
	</footer>
</body>
</html>
