<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" th:href="@{/css/roulette.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/pig.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="center">
            <img src="/present.png" alt="Present" style="height: 50px;">
            <h1>룰렛돌리기</h1>
        </div>
        <div class="right">
            <a th:href="@{/}">
                <img src="/close.png" alt="Close" style="height: 50px;">
            </a>
        </div>
    </nav>
    <section>
		<div class="roulette">
		  <canvas width=380; height=380;></canvas>  
		  <button onclick="rotate()">Start</button>
		</div>
		<h3 style="color:indianred; position: absolute; left: 45%;">*1인 1회만 사용 가능</h3>
    </section>
    <footer class="bankfooter">
        <h5>Judy Bank</h5>
    </footer>
    <script>
		const $c = document.querySelector("canvas");
		const ctx = $c.getContext(`2d`);
		
		const product = [
		  "추가이자율 1%지급", "꽝", "아메리카노 쿠폰1장지급", "SafeLocker 첫출금시 십만원 추가지급"
		];
		
		const colors = ["#ddedf0", "#f2f2c9", "#e9f2c2", "#f6d9fc", "#60b236", "#209b6c", "#169ed8", "#3f297e", "#87207b", "#be107f", "#e7167b"];
		
		const newMake = () => {
		    const [cw, ch] = [$c.width / 2, $c.height / 2]; // center width, center height
		    const arc = Math.PI / (product.length / 2);
		  	
		    for (let i = 0; i < product.length; i++) {
		      ctx.beginPath();
		      ctx.fillStyle = colors[i % (colors.length -1)];
			  ctx.moveTo(cw, ch);
		      ctx.arc(cw, ch, cw, arc * (i - 1), arc * i);
		      ctx.fill();
		      ctx.closePath();
		    }
			
		    ctx.fillStyle = "black";
		    ctx.font = "15px Pretendard";
		    ctx.textAlign = "center";
		
		    for (let i = 0; i < product.length; i++) {
		      const angle = (arc * i) + (arc / 2);
		
		      ctx.save()  ;
		
		      ctx.translate(
		        cw + Math.cos(angle) * (cw - 50),
		        ch + Math.sin(angle) * (ch - 50),
		      );
		
		      ctx.rotate(angle + Math.PI / 2);
		
		      product[i].split(" ").forEach((text, j) => {
		        ctx.fillText(text, 0, 30 * j);
		      });
		
		      ctx.restore();
		    }
			
		}
		
		const rotate = () => {
		  $c.style.transform = `initial`;
		  $c.style.transition = `initial`;
		  
		  setTimeout(() => {
		    
		    const ran = Math.floor(Math.random() * product.length);
		
		    const arc = 360 / product.length;
		    //const rotate = (ran * arc) + 3600 + (arc * 3) - (arc/4); // 3600: 10바퀴수
			const rotate = (ran * arc) + 1.5*arc + 3600;
			
		    $c.style.transform = `rotate(-${rotate}deg)`;
		    $c.style.transition = `1.5s`;
		    
		    setTimeout(() => alert(`${product[ran]} 이벤트가 당첨되었습니다!!`), 2000);
		  }, 1);
		};
		
		newMake();
    </script>
</body>
</html>
