<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" th:href="@{/css/roulette.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/pig.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
		<div class="left">
		    <a th:href="@{/}">
		        <img src="/homepic.png" alt="Home" style="height: 50px;">
		    </a>
		</div>
        <div class="center">
            <img src="/present.png" alt="Present" style="height: 50px;">
            <h1>룰렛돌리기</h1>
        </div>
        <div class="right">
            <a th:href="@{/bank/category}">
                <img src="/list.png" alt="Category" style="height: 50px;">
            </a>
        </div>
    </nav>
    <section>
		<span th:if="${hasParticipated == true}">
		    <h3 th:text="${eventName} + ' 당첨!!!'" style="position:absolute; left: 43%; top: 75%;"></h3>
		</span>
		<div class="roulette">
		  <canvas width=380; height=380;></canvas>  
		  <button id="number" onclick="rotate()" th:disabled="${hasParticipated}">시작</button>
		</div>
		<h3 style="color:indianred; position: absolute; left: 45%;">*1인 1회만 사용 가능</h3>
    </section>
    <footer class="bankfooter">
        <h5>Judy Bank</h5>
    </footer>
	<script src="/js/roulette.js"></script>
</body>
</html>
