<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Judy's Bank</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" th:href="@{/css/selectAccount.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/pig.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
        .account-info-container {
            background-color: white;
            width: 100%;  
            height: 35vh;
        }

        .account-container:nth-child(-n+3) {
            position: relative;
            margin-top: 13vh;
            margin-bottom: 25vh;
        }
    </style>
</head>
<body>
    <nav class="navbar">
		<div class="left">
		    <a th:href="@{/}">
		        <img src="/homepic.png" alt="Home" style="height: 50px;">
		    </a>
		</div>
        <div class="center">
            <h1>계좌조회</h1>
        </div>
        <div class="right">
            <a th:href="@{/bank/category}">
                <img src="/list.png" alt="Category" style="height: 50px;">
            </a>
        </div>
    </nav>
    <section>
		<div class="glass">
		    <img src="/glass.png" alt="Glass">
		    <h1>내 계좌정보</h1>
		</div>
        <div class="bar"></div>
        <div class="login-container">
            <span th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.principal.nickname} + ' 님의 계좌'" class="username"></span>
            </span>
        </div>
        <div class="background"></div>
        <div class="entire-account-container" style="height: 30%; overflow-y: scroll;">
            <!-- 계좌 정보 반복 -->
            <div th:each="accountInfo : ${accountInfos}" class="account-container">
                <span><img src="/pig.png" alt="Pig" class="img"></span>
                <span style="font-weight: bold; position: absolute; left: 25%; transform: translateX(-50%); top: 27%;">Judy뱅크</span>
                <div class="account-info-container">
                    <div class="account-info">
                        <form id="selectAccount" th:action="@{/bank/chooseAccount}" method="post">
                            <input type="hidden" th:name="accountId" th:value="${accountInfo.accountId}" />
                            <div class="accountNumber" th:text="${accountInfo.accountNum}"></div>
                            <div class="balance" th:text="${accountInfo.balance}"></div>
                            <h4 style="font-weight:bold; position:absolute; top:207%; left: 90%;">원</h4>
							<div class="isGroupAccountShape"></div>
                            <div class="isGroupAccount" th:text="${accountInfo.isGroupaccount == 1 ? '모임통장' : '일반통장'}"></div>
                            <button type="submit" class="select-btn" th:disabled="${showBtn}">선택하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bankfooter">
        <h5>Judy Bank</h5>
    </footer>
</body>
</html>
